.get-joke-button{width: 100%;}
.joke{ min-height: 5em;}
.title-brand{padding-left: 10px;}
.button{width:100%;}
.space-top { margin-top: 15px; }
.space-bottom { margin-bottom: 15px; }
.create-task{clear:both;float: left;width: 100%;}
.url{width: 100%}
.myrow{padding-top: 4em;}